* 
{
    margin: 0;
    padding: 0;
    cursor: url("resources/icons/cursor.ICO"), default;
}
*, *:before, *:after
{
    box-sizing: inherit;
}
  

html
{
    box-sizing: border-box;
    font-size: large;
    font-family: serif;
    cursor: url("resources/icons/cursor.ICO"), default;
    background-image: url(resources/backgrounds/space.JPG);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ul
{
    list-style-type: none;
}

ol
{
    list-style-type: decimal;
    margin-left: 1ch;
}

ul li
{
    margin-left: 1ch;
    padding-left: 3ch;

    background-image: url("resources/icons/folder.ICO");
	background-repeat: no-repeat;
	background-position: left;
	background-size: 2ch;
}

ol li
{
    margin-left: 1ch;
}

hr
{
    margin: 10px;
}

.inset
{
    background-color: #bfbfbf;
    border-left: 2px outset white;
    border-top: 2px outset white;
    border-right: 2px outset black;
    border-bottom: 2px outset black;
}

.content
{
    max-width: 65ch;
    min-width: 0ch;
    margin: auto;
    overflow-wrap: break-word;
}

.header
{
    width: auto;
    margin: 2px;
    
    background: #00007b;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
}

.entry
{
    margin-top: 3ch;
}

.button
{
    padding: 5px;
    font-size: large;
    font-family: serif;
}

.button:hover
{
    background-color: white;
}

.ico
{
    height: 2ch;
}

.code
{
    font-family: monospace;
    white-space: pre-wrap;
}

input, textarea
{
    width: 100%;
    padding: 1ch;
}

textarea
{
    resize: vertical;
}

/*
    TicTacToe CSS
*/

.game-board
{
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 60px 60px 60px;
    color: #bfbfbf;
}

.field
{
    margin: 5px;
}

.field:hover
{
    background-color: #00000067;
    color: #29292900;
}